language: c
os: linux
compiler:
 - gcc
 - clang
before_install:
 - wget http://lv2plug.in/spec/lv2-1.12.0.tar.bz2
 - tar xjf lv2-1.12.0.tar.bz2
 - sudo add-apt-repository -y ppa:enlightenment-git/ppa
 - sudo add-apt-repository -y ppa:andykimpe/cmake
 - sudo apt-get -q update
install:
 - sudo apt-get install -y libefl-dev libelementary-dev cmake=2.8.12.2-3
 - pushd lv2-1.12.0 && ./waf configure && ./waf build && sudo ./waf install && popd
before_script:
 - mkdir build && pushd build && cmake -DCMAKE_C_FLAGS="-std=gnu99" -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=1 .. && popd
script:
 - pushd build && make && ARGS="-VV" make test && sudo make install && popd
