language: c
os: linux
compiler:
 - gcc
 - clang
before_install:
 - wget http://lv2plug.in/spec/lv2-1.12.0.tar.bz2
 - tar xjf lv2-1.12.0.tar.bz2
 - wget https://github.com/libuv/libuv/archive/v1.7.5.tar.gz
 - tar xzf v1.7.5.tar.gz
 - if [ "$CC" = "clang" ]; then sudo add-apt-repository -y ppa:h-rayflood/llvm-upper; fi
 - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
 - sudo add-apt-repository -y ppa:andykimpe/cmake
 - sudo add-apt-repository -y ppa:enlightenment-git/ppa
 - sudo apt-get update -qq
install:
 - if [ "$CC" = "clang" ]; then sudo apt-get install -y clang-3.6 libstdc++-5-dev; fi
 - if [ "$CC" = "gcc" ]; then sudo apt-get install -y gcc-5 g++-5; fi
 - sudo apt-get install -y libefl-dev libelementary-dev cmake=2.8.12.2-3
 - pushd lv2-1.12.0 && ./waf configure && ./waf build && sudo ./waf install && popd
 - pushd libuv-1.7.5 && sh autogen.sh && ./configure --prefix=/usr && make && sudo make install && popd
before_script:
 - if [ "$CC" = "clang" ]; then export CXX="clang++-3.6" CC="clang-3.6" CFLAGS="-ffreestanding"; fi
 - if [ "$CC" = "gcc" ]; then export CXX="g++-5" CC="gcc-5"; fi
 - mkdir build && pushd build && cmake -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=1 -DBUILD_COMMON_UI=1 -DBUILD_SIMPLE_UI=1 .. && popd
script:
 - pushd build && make && ARGS="-VV" make test && sudo make install && popd
